@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(f2b3ae937a26022d9d554449ecedde40.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    height: 180px;
    background-color: #380000;
    color: #fffccb;
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    text-align: center;
    align-items: center;
    display: flex;
    text-indent: 40px ;
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    header {
        font-size: 28px;
        height: 120px;
        text-indent: 10px;
    }

    .cards a {
        font-size: 22px  !important ; /* Smaller text */
        height: 60px;         /* Less height */
        width: 95%;           /* Use more width for mobile */
        padding: 0 10px;      /* Add horizontal padding */
    }

    .cards a i {
        font-size: 30px;      /* Smaller icon */
        margin-right: 8px;    /* Less space between icon and text */
    }
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px;
}

.cards a {
    font-size: 40px;
    display: flex;
    border-radius: 8px;
    z-index: 999;
    width: 80%;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: #bfbd96;
    color: #380000;
    transition: background 0.2s, color 0.2s;
    
}


a {
    text-decoration: none;
    color: inherit;
}

.cards a:hover {
    color: #bfbd96;
    background-color: #380000;
}

.cards a i {
    margin-right: 16px;
}
